/* The names of the colors are taken from the following site - https://icolorpalette.com/color */

:root {
    --fishNetBlue: #1e446e;
    --greyOfDarkness: #a3a3a3;
    --mercury: #ececec;
    --titaniumWhite: #e5e5e5;
    --gainsboro: #dcdcdc;
    --titaniumWhite: #e5e5e5;
    --black: #000000;
    --white: #ffffff;
    --red: #ff0000;
}